PORT=4000
API_ORIGIN=http://localhost:3000
EMAIL_FROM=SEQ Services Quotations <contact@seqservices.com.au>
EMAIL_TO=bharanamihijaya@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bharanamihijaya@gmail.com
SMTP_PASS=your-app-password
RECAPTCHA_SECRET_KEY=6LdbunMtAAAAAIm-k-OutYTA71Q0UnpI_rZ-MO8F
